@use "@carbon/react/scss/colors";

.login-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: colors.$gray-100;

}

.login-page > *{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.login-wrapper {
  min-width: 400px;
  height: 70%;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: colors.$gray-100;
}


.background-image {
  //background-image: url("/images/background.jpg");
  //background-color: red;
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  width: 60%;
  height: 70%;
}

.login-header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;

}

.login-header > * {
  margin-right: 1ex;
}

.login-form-divider {
  width: 100%;
  border-top: 1px solid colors.$gray-60;
  border-bottom: 1px;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.login-footer {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 1rem;
}

.login-footer > * {
  margin-right: 1ex;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-form-legend {
  display: flex;
  justify-content: left;
  width: 100%;
  color: colors.$gray-60;
  align-items: center;
}


.login-form-legend  > * {
  font-size: 12px;
  margin-right: 1ex;
}


.login-form > * {
  width: 100%;
  max-width: 100%;
  margin-top: 2px; 
  margin-bottom: 2px; 
}

.alternate-logins {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.alternate-logins > * {
  margin: 2px;
  max-width: 100%;
  width: 100%;
}



